.phone{
    border: 1px solid black;
    width: 150px;
    height: 120px;
}



.salm{
    
    width: 30px;
    height: 10px;
    
    
}
button{
    color:yellow ;
}
.jou{
    background-color: aqua;
    width: 170px;
    height: 100px;
}
